body {
  font-family: "Orelega One", cursive;
  font-size: 80px;
  color: rgba(0, 0, 255, 1);
  background-color: rgb(244, 140, 209);
  margin: 0;
  position: relative;
}

main {
  border-width: 40px;
  border-style: solid;
  border-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.25));

}

div {
  width: 900px;
  height: 82px;
  padding-left: 10px;
  box-sizing:border-box;
}

.zero {
  height:40px;
  background-color: #ff922b;
  position: sticky;
  top: 0px;
  bottom: 0px;
  z-index: 1;
  font-size: 30px;
  color:rgb(31, 149, 25);
  letter-spacing: 2px;
  font-family: 'Gabarito', sans-serif;
}

.one {
  background-color: #ebf1793e;
  position: sticky;
  top: 0px;
  bottom: 0px;
  z-index: 10;
}

.two {
  background-color: rgba(30, 161, 254, 0.25);
  position: sticky;
  top: 0px;
  bottom: 0px;
  padding: 0px 0px 0px 50px;
  z-index: 9;
}

.three {
  /* background-color: rgba(37, 247, 240, 0.569); */
  background-image: linear-gradient(
    rgba(0, 0, 255, 0.5),
    rgba(199, 151, 5, 0.5)
  );
  position: sticky;
  top: 0px;
  bottom: 0px;
  padding: 0px 0px 0px 95px;
  z-index: 8;
}

.four {
  background-color: rgba(255, 204, 0, 0.359);
  position: sticky;
  top: 0px;
  bottom: 0px;
  padding: 0px 0px 0px 165px;
  z-index: 7;
}

.five {
  background-color: rgba(239, 139, 103, 0.25);
  position: sticky;
  top: 0px;
  bottom: 0px;
  padding: 0px 0px 0px 210px;
  z-index: 6;
}

.six {
  background-image: linear-gradient(
    rgba(78, 183, 13, 0.25),
    rgba(111, 0, 130, 0.25)
  );
  position: sticky;
  top: 0px;
  bottom: 0px;
  padding: 0px 0px 0px 280px;
  z-index: 5;
}

.seven {
  background-color: rgba(1, 0, 3, 0.25);
  position: sticky;
  top: 0px;
  bottom: 0px;
  padding: 0px 0px 0px 325px;
  z-index: 4;
}

.eight {
  background-color: rgba(172, 255, 47, 0.25);
  position: sticky;
  top: 0px;
  bottom: 0px;
  padding: 0px 0px 0px 370px;
  z-index: 3;
}

.nine {
  background-image: linear-gradient(
    rgba(55, 195, 255, 0.25),
    rgba(250, 93, 148, 0.25)
  );
  position: sticky;
  top: 0px;
  bottom: 0px;
  padding: 0px 0px 0px 450px;
  z-index: 2;
}

.ten {
  background-color: rgba(240, 30, 30, 0.25);
  position: sticky;
  top: 0px;
  bottom: 0px;
  padding: 0px 0px 0px 450px;
  z-index: 1;
}

.eleven {
  background-color: rgba(115, 222, 251, 0.25);
  position: sticky;
  top: 0px;
  bottom: 0px;
  padding: 0px 0px 0px 520px;
  z-index: 1;
}
